/*
These classes are a copy (with small simplifications) from the official World Rugby ™ website,
especially from this page : http://www.worldrugby.org/rankings/mru
I took the liberty of copying the flags picture they are using and the CSS classes below to assign them to countries.
*/
.tLogo20x.AND{background:url(../img/tLogo20x-sprite.png) -40px -107px no-repeat;}
.tLogo20x.ARG{background:url(../img/tLogo20x-sprite.png) -160px -157px no-repeat;}
.tLogo20x.ARM{background:url(../img/tLogo20x-sprite.png) -45px 0 no-repeat;}
.tLogo20x.ASA{background:url(../img/tLogo20x-sprite.png) 0 -32px no-repeat;}
.tLogo20x.AUS{background:url(../img/tLogo20x-sprite.png) -20px -32px no-repeat;}
.tLogo20x.AUT{background:url(../img/tLogo20x-sprite.png) -40px -32px no-repeat;}
.tLogo20x.AZE{background:url(../img/tLogo20x-sprite.png) -65px 0 no-repeat;}
.tLogo20x.BEL{background:url(../img/tLogo20x-sprite.png) -65px -25px no-repeat;}
.tLogo20x.BER{background:url(../img/tLogo20x-sprite.png) 0 -57px no-repeat;}
.tLogo20x.BHS{background:url(../img/tLogo20x-sprite.png) -20px -57px no-repeat;}
.tLogo20x.BIH{background:url(../img/tLogo20x-sprite.png) -40px -57px no-repeat;}
.tLogo20x.BRA{background:url(../img/tLogo20x-sprite.png) -60px -57px no-repeat;}
.tLogo20x.BRB{background:url(../img/tLogo20x-sprite.png) -85px 0 no-repeat;}
.tLogo20x.BRU{background:url(../img/tLogo20x-sprite.png) -85px -25px no-repeat;}
.tLogo20x.BUL{background:url(../img/tLogo20x-sprite.png) -85px -50px no-repeat;}
.tLogo20x.BUR{background:url(../img/tLogo20x-sprite.png) -105px 0 no-repeat;}
.tLogo20x.BWA{background:url(../img/tLogo20x-sprite.png) -105px -25px no-repeat;}
.tLogo20x.CA{background:url(../img/tLogo20x-sprite.png) -105px -50px no-repeat;}
.tLogo20x.CAN{background:url(../img/tLogo20x-sprite.png) 0 -82px no-repeat;}
.tLogo20x.CAY{background:url(../img/tLogo20x-sprite.png) -20px -82px no-repeat;}
.tLogo20x.CHIL{background:url(../img/tLogo20x-sprite.png) -40px -82px no-repeat;}
.tLogo20x.CHN{background:url(../img/tLogo20x-sprite.png) -60px -82px no-repeat;}
.tLogo20x.CIV{background:url(../img/tLogo20x-sprite.png) -80px -82px no-repeat;}
.tLogo20x.CMB{background:url(../img/tLogo20x-sprite.png) -100px -82px no-repeat;}
.tLogo20x.COK{background:url(../img/tLogo20x-sprite.png) -125px 0 no-repeat;}
.tLogo20x.COL{background:url(../img/tLogo20x-sprite.png) -125px -25px no-repeat;}
.tLogo20x.CRO{background:url(../img/tLogo20x-sprite.png) -125px -50px no-repeat;}
.tLogo20x.CTR{background:url(../img/tLogo20x-sprite.png) -125px -75px no-repeat;}
.tLogo20x.CZE{background:url(../img/tLogo20x-sprite.png) 0 -107px no-repeat;}
.tLogo20x.DEN{background:url(../img/tLogo20x-sprite.png) -20px -107px no-repeat;}
.tLogo20x.ECU{;background:url(../img/tLogo20x-sprite.png) no-repeat;}
.tLogo20x.ENG{background:url(../img/tLogo20x-sprite.png) -60px -107px no-repeat;}
.tLogo20x.ESP{background:url(../img/tLogo20x-sprite.png) -80px -107px no-repeat;}
.tLogo20x.FIJ{background:url(../img/tLogo20x-sprite.png) -100px -107px no-repeat;}
.tLogo20x.FIJI{background:url(../img/tLogo20x-sprite.png) -120px -107px no-repeat;}
.tLogo20x.FIN{background:url(../img/tLogo20x-sprite.png) -145px 0 no-repeat;}
.tLogo20x.FJI{background:url(../img/tLogo20x-sprite.png) -145px -25px no-repeat;}
.tLogo20x.FRA{background:url(../img/tLogo20x-sprite.png) -145px -50px no-repeat;}
.tLogo20x.GEO{background:url(../img/tLogo20x-sprite.png) -145px -75px no-repeat;}
.tLogo20x.GER{background:url(../img/tLogo20x-sprite.png) -145px -100px no-repeat;}
.tLogo20x.GHA{background:url(../img/tLogo20x-sprite.png) 0 -132px no-repeat;}
.tLogo20x.GUM{background:url(../img/tLogo20x-sprite.png) -20px -132px no-repeat;}
.tLogo20x.GUY{background:url(../img/tLogo20x-sprite.png) -40px -132px no-repeat;}
.tLogo20x.HEL{background:url(../img/tLogo20x-sprite.png) -60px -132px no-repeat;}
.tLogo20x.HKG{background:url(../img/tLogo20x-sprite.png) -80px -132px no-repeat;}
.tLogo20x.HUN{background:url(../img/tLogo20x-sprite.png) -100px -132px no-repeat;}
.tLogo20x.IDO{background:url(../img/tLogo20x-sprite.png) -120px -132px no-repeat;}
.tLogo20x.IND{background:url(../img/tLogo20x-sprite.png) -140px -132px no-repeat;}
.tLogo20x.IRE{background:url(../img/tLogo20x-sprite.png) -165px 0 no-repeat;}
.tLogo20x.IRI{background:url(../img/tLogo20x-sprite.png) -165px -25px no-repeat;}
.tLogo20x.ISR{background:url(../img/tLogo20x-sprite.png) -165px -50px no-repeat;}
.tLogo20x.ITA{background:url(../img/tLogo20x-sprite.png) -165px -75px no-repeat;}
.tLogo20x.JAM{background:url(../img/tLogo20x-sprite.png) -165px -100px no-repeat;}
.tLogo20x.JPN{background:url(../img/tLogo20x-sprite.png) -165px -125px no-repeat;}
.tLogo20x.KAZ{background:url(../img/tLogo20x-sprite.png) 0 -157px no-repeat;}
.tLogo20x.KEN{background:url(../img/tLogo20x-sprite.png) -20px -157px no-repeat;}
.tLogo20x.KGZ{background:url(../img/tLogo20x-sprite.png) -40px -157px no-repeat;}
.tLogo20x.KOR{background:url(../img/tLogo20x-sprite.png) -60px -157px no-repeat;}
.tLogo20x.LAO{background:url(../img/tLogo20x-sprite.png) -80px -157px no-repeat;}
.tLogo20x.LAT{background:url(../img/tLogo20x-sprite.png) -100px -157px no-repeat;}
.tLogo20x.LCA{background:url(../img/tLogo20x-sprite.png) -120px -157px no-repeat;}
.tLogo20x.LTU{background:url(../img/tLogo20x-sprite.png) -140px -157px no-repeat;}
.tLogo20x.LUX{background:url(../img/tLogo20x-sprite.png) -25px 0 no-repeat;}
.tLogo20x.MAD{background:url(../img/tLogo20x-sprite.png) -185px 0 no-repeat;}
.tLogo20x.MAR{background:url(../img/tLogo20x-sprite.png) -185px -25px no-repeat;}
.tLogo20x.MAS{background:url(../img/tLogo20x-sprite.png) -185px -50px no-repeat;}
.tLogo20x.MAU{background:url(../img/tLogo20x-sprite.png) -185px -75px no-repeat;}
.tLogo20x.MDA{background:url(../img/tLogo20x-sprite.png) -185px -100px no-repeat;}
.tLogo20x.MEX{background:url(../img/tLogo20x-sprite.png) -185px -125px no-repeat;}
.tLogo20x.MLI{background:url(../img/tLogo20x-sprite.png) -185px -150px no-repeat;}
.tLogo20x.MLT{background:url(../img/tLogo20x-sprite.png) -205px 0 no-repeat;}
.tLogo20x.MOG{background:url(../img/tLogo20x-sprite.png) -205px -25px no-repeat;}
.tLogo20x.MUS{background:url(../img/tLogo20x-sprite.png) -205px -50px no-repeat;}
.tLogo20x.NAM{background:url(../img/tLogo20x-sprite.png) -205px -75px no-repeat;}
.tLogo20x.NED{background:url(../img/tLogo20x-sprite.png) -205px -100px no-repeat;}
.tLogo20x.NGA{background:url(../img/tLogo20x-sprite.png) -205px -125px no-repeat;}
.tLogo20x.NIU{background:url(../img/tLogo20x-sprite.png) -205px -150px no-repeat;}
.tLogo20x.NOR{background:url(../img/tLogo20x-sprite.png) 0 -182px no-repeat;}
.tLogo20x.NZL{background:url(../img/tLogo20x-sprite.png) -20px -182px no-repeat;}
.tLogo20x.PAK{background:url(../img/tLogo20x-sprite.png) -40px -182px no-repeat;}
.tLogo20x.PAN{background:url(../img/tLogo20x-sprite.png) -60px -182px no-repeat;}
.tLogo20x.PAR{background:url(../img/tLogo20x-sprite.png) -80px -182px no-repeat;}
.tLogo20x.PHP{background:url(../img/tLogo20x-sprite.png) -100px -182px no-repeat;}
.tLogo20x.PNG{background:url(../img/tLogo20x-sprite.png) -120px -182px no-repeat;}
.tLogo20x.POL{background:url(../img/tLogo20x-sprite.png) -140px -182px no-repeat;}
.tLogo20x.POR{background:url(../img/tLogo20x-sprite.png) -160px -182px no-repeat;}
.tLogo20x.PYF{background:url(../img/tLogo20x-sprite.png) -180px -182px no-repeat;}
.tLogo20x.ROM{background:url(../img/tLogo20x-sprite.png) -200px -182px no-repeat;}
.tLogo20x.RSA{background:url(../img/tLogo20x-sprite.png) -225px 0 no-repeat;}
.tLogo20x.RUS{background:url(../img/tLogo20x-sprite.png) -225px -25px no-repeat;}
.tLogo20x.RWA{background:url(../img/tLogo20x-sprite.png) -225px -50px no-repeat;}
.tLogo20x.SAM{background:url(../img/tLogo20x-sprite.png) -225px -75px no-repeat;}
.tLogo20x.SCO{background:url(../img/tLogo20x-sprite.png) -225px -100px no-repeat;}
.tLogo20x.SEN{background:url(../img/tLogo20x-sprite.png) -225px -125px no-repeat;}
.tLogo20x.SIN{background:url(../img/tLogo20x-sprite.png) -225px -150px no-repeat;}
.tLogo20x.SOL{background:url(../img/tLogo20x-sprite.png) -225px -175px no-repeat;}
.tLogo20x.SRB{background:url(../img/tLogo20x-sprite.png) 0 -207px no-repeat;}
.tLogo20x.SRI{background:url(../img/tLogo20x-sprite.png) -20px -207px no-repeat;}
.tLogo20x.SUI{background:url(../img/tLogo20x-sprite.png) -40px -207px no-repeat;}
.tLogo20x.SVN{background:url(../img/tLogo20x-sprite.png) -60px -207px no-repeat;}
.tLogo20x.SWE{background:url(../img/tLogo20x-sprite.png) -80px -207px no-repeat;}
.tLogo20x.SWZ{background:url(../img/tLogo20x-sprite.png) -100px -207px no-repeat;}
.tLogo20x.TAI{background:url(../img/tLogo20x-sprite.png) -120px -207px no-repeat;}
.tLogo20x.TGA{background:url(../img/tLogo20x-sprite.png) -140px -207px no-repeat;}
.tLogo20x.THA{background:url(../img/tLogo20x-sprite.png) -160px -207px no-repeat;}
.tLogo20x.TOG{background:url(../img/tLogo20x-sprite.png) -180px -207px no-repeat;}
.tLogo20x.TTO{background:url(../img/tLogo20x-sprite.png) -200px -207px no-repeat;}
.tLogo20x.TUN{background:url(../img/tLogo20x-sprite.png) -220px -207px no-repeat;}
.tLogo20x.TZA{background:url(../img/tLogo20x-sprite.png) -245px 0 no-repeat;}
.tLogo20x.UAE{background:url(../img/tLogo20x-sprite.png) -245px -25px no-repeat;}
.tLogo20x.UGA{background:url(../img/tLogo20x-sprite.png) -245px -50px no-repeat;}
.tLogo20x.UKR{background:url(../img/tLogo20x-sprite.png) -245px -75px no-repeat;}
.tLogo20x.URU{background:url(../img/tLogo20x-sprite.png) -245px -100px no-repeat;}
.tLogo20x.USA{background:url(../img/tLogo20x-sprite.png) -245px -125px no-repeat;}
.tLogo20x.UZB{background:url(../img/tLogo20x-sprite.png) -245px -150px no-repeat;}
.tLogo20x.VAN{background:url(../img/tLogo20x-sprite.png) -245px -175px no-repeat;}
.tLogo20x.VEN{background:url(../img/tLogo20x-sprite.png) -245px -200px no-repeat;}
.tLogo20x.VIR{background:url(../img/tLogo20x-sprite.png) 0 -232px no-repeat;}
.tLogo20x.WAL{background:url(../img/tLogo20x-sprite.png) -20px -232px no-repeat;}
.tLogo20x.ZAM{background:url(../img/tLogo20x-sprite.png) -40px -232px no-repeat;}
.tLogo20x.ZIM{background:url(../img/tLogo20x-sprite.png) -60px -232px no-repeat;}
.tLogo20x.default{background:url(../img/tLogo20x-sprite.png) -80px -232px no-repeat;}
.tLogo20x.mongolia{background:url(../img/tLogo20x-sprite.png) -100px -232px no-repeat;}
.tLogo20x.uk{background:url(../img/tLogo20x-sprite.png) -140px -232px no-repeat;}
.tLogo20x.tbd, .tLogo20x.CHL, .tLogo20x.TPE, .tLogo20x.PER,
.tLogo20x.SVG, .tLogo20x.CAM, .tLogo20x.MON, .tLogo20x.ASM {
    background:url(../img/tLogo20x-sprite.png) -120px -232px no-repeat;
}
.tLogo20x {display:inline-block;width:20px;height:25px;}