$background-color: #fff2de;
$primary-color: #5a7d7f;
$primary-color-hover: #5a7d7f;

$sticky-height: 10vh;
$transition-speed: .3s;

@mixin vertical-box-shadow($direction) {
  $y: 2px;

  @if $direction == 'up' {
    $y: -2px;
  }

  -webkit-box-shadow: 0 $y 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 $y 5px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 $y 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 $y 5px 0 rgba(0, 0, 0, 0.3);
}

@mixin sticky($position, $height) {
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: $height;
  #{$position}: 0;
}

html {
  background-color: $background-color;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
}

header {
  @include sticky('top', $sticky-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background-color;
  @include vertical-box-shadow('down');

  & > * {
    text-align: center;
    flex-basis: 33%;
    order: 1;
  }

  & > .hand-switch {
    display: none;
    margin: 0 auto 0 2%;
    white-space: nowrap;
    order: 0;
  }

  svg {
    transition: all $transition-speed ease;
  }

  a {
    color: $primary-color;

    &:hover, &:visited, &:focus {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

body {
  margin-top: $sticky-height;
}

footer {
  @include sticky('bottom', $sticky-height);
  background-color: $background-color;
  @include vertical-box-shadow('up');
}

button {
  background-color: $primary-color;
  border: 0;
  padding: 2%;
  cursor: pointer;
  @include vertical-box-shadow('down');
}

@media screen and (orientation: landscape) {
  $sticky-height-landscape: $sticky-height * 1.2;

  header, footer {
    height: $sticky-height-landscape;
  }

  header {
    justify-content: flex-end;

    &.left-handed {
      justify-content: flex-start;
    }

    & > * {
      flex-basis: 12%;
    }

    & > .hand-switch {
      display: block;

      &.left-handed {
        order: 2;
        margin: 0 2% 0 auto;
      }
    }
  }

  body {
    margin-top: $sticky-height-landscape;
  }
}
