<div class="row">
    <div class="col-xs-5">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-info" ng-disabled="step === 0"
                        data-step-target="first">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                    <span class="sr-only">Go to first step</span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-info" ng-disabled="step === 0"
                        data-step-target="previous">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    <span class="sr-only">Go back one step</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-2 text-center awr-step-display">
        {{ step }}
    </div>
    <div class="col-xs-5">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-info" ng-disabled="step === maxStep"
                        data-step-target="next">
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    <span class="sr-only">Advance one step</span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-lg btn-info" ng-disabled="step === maxStep"
                        data-step-target="last">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                    <span class="sr-only">Go to last step</span>
                </button>
            </div>
        </div>
    </div>
</div>
